$txt-color: rgb(60, 76, 166);
$bg-color: rgb(242, 237, 162);

$hover: rgb(65, 90, 166);
$color2: rgb(145, 154, 170);
$link-hover: rgb(217, 213, 160);
$pink: rgb(255, 147, 152);
$pastel-yellow: #fae596;
$sea-green: #3fb0ac;
